.testimonial {
    flex-direction: column;
    gap: 50px;
}
.teamSlider {
    width: 100%;
}

.test_card {
    width: 100%;
    height: 290px;
    background: #141a21;
    mask-image: url(./../../assets/Image/testi-card-mask3.png);
    mask-size: 100% 100%;
    padding: 40px;
    z-index: -1;
}
.test_info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.test_info h2 {
    font-size: 1.5rem;
    font-weight: 500;
    font-family: var(--Anton-font);
    transition: var(--transition);
}
.test_info h2:hover {
    color: var(--primary-color);
    cursor: pointer;
}
.test_info h5 {
    font-size: 1.3rem;
    font-weight: 500;
}
.test_card p {
    font-size: 1rem;
    font-weight: 500;
    margin-top: 20px;
    color: var(--extra-light-text);
}
.test_box {
    position: relative;
}
.client_img {
    position: absolute;
    top: 0;
    right: 0;
    width: 60px;
    height: 60px;
    z-index: 5;
    background-color: var(--primary-color);
    border-radius: 100%;
}

/* MQ SECTION */

@media (max-width: 1400px) {
    .client_img {
        top: 11px;
        right: 1px;
    }
}

@media (max-width: 1200px) {
    .client_img {
        top: 0px;
        right: 10px;
    }
}

@media (max-width: 900px) {
    .client_img {
        top: 10px;
        right: 5px;
        width: 60px;
        height: 60px;
    }
}

@media (max-width: 900px) {
    .client_img {
        top: 5px;
        right: 10px;
        width: 70px;
        height: 70px;
    }
}
