.contact {
    background-color: var(--black-color);
    flex-direction: column;
    gap: 50px;
}
.contact_head {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.contact_head h1 {
    font-size: 7rem;
    line-height: 7rem;
    font-family: var(--Anton-font);
    font-weight: 500;
}

.contact_head_text {
    display: flex;
    align-items: center;
    gap: 10px;
}

.contact_head_text .line {
    width: 150px;
    height: 2px;
    background-color: var(--primary-color);
}

.contact_head_text h1 {
    color: transparent;
    -webkit-text-stroke: 1px var(--primary-color);
}
.contact_container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 50px;
}
.Contact_form {
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.Contact_form button {
    margin-top: 20px;
    padding: 15px 10px;
}
.Contact_form_head {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.Contact_form_head h2 {
    font-size: 2rem;
    font-family: var(--Anton-font);
    font-weight: 500;
}
.Contact_btns {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
}
.Contact_btn {
    width: 210px;
    background-color: transparent;
    border: 1px solid var(--primary-color);
    color: var(--white-color);
    box-shadow: 0px 10px 10px rgba(69, 248, 130, 0.3);
    position: relative;
    z-index: 1;
    transition: var(--transition);
}
.Contact_btn::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.2);
    width: 80px;
    height: 80px;
    border-radius: 100%;
    border: 1px solid var(--primary-color);
    z-index: -1 !important;
    transition: var(--transition);
}
.Contact_btn:hover {
    background-color: var(--primary-color);
    color: var(--black-color);
    cursor: pointer;
}
.Contact_btn:active,
.Contact_btn:focus:after {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
}

.Contact_btn:active,
.Contact_btn:focus {
    background-color: var(--primary-color);
    color: var(--black-color);
}
.contact_inputs {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;
    margin: 20px 0;
}
.contact_input_head {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.input {
    width: 100%;
    display: flex;
    position: relative;
}
.input i {
    position: absolute;
    top: 5%;
    right: 0%;
    font-size: 1.5rem;
    color: var(--primary-color);
}
.input input {
    width: 100%;
    height: 50px;
    background-color: transparent;
    border: none;
    outline: none;
    border-bottom: 1px solid #45f88185;
    transition: var(--transition);
    &::placeholder {
        color: var(--light-text);
    }
}
.input:hover input {
    border-color: var(--primary-color);
}

.inputs input:active,
.inputs input:focus {
    border-color: var(--primary-color);
}

.textarea {
    position: relative;
    margin-top: 10px;
}
.textarea i {
    position: absolute;
    top: 5%;
    right: 0%;
    font-size: 1.5rem;
    color: var(--primary-color);
}
.textarea textarea {
    width: 100%;
    height: 150px;
    background-color: transparent;
    border: none;
    outline: none;
    border-bottom: 1px solid #45f88185;
    transition: var(--transition);
    &::placeholder {
        color: var(--light-text);
    }
}
.textarea:hover textarea {
    border-color: var(--primary-color);
}

.textarea textarea:active,
.textarea textarea:focus {
    border-color: var(--primary-color);
}

.Contact_content {
    width: 40%;
    margin-top: 50px;
}

.Contact_content p {
    color: var(--light-text);
    font-size: 1rem;
    font-weight: 500;
}
.Contact_btns {
    display: flex;
    justify-content: center;
    align-items: center;
}
.Contact_btns button {
    width: 30%;
}
.socials {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
}
.socials .social_icon {
    width: 50px;
    height: 50px;
    font-size: 1.3rem;
    border-radius: 5px;
    color: var(--white-color);
    border: 1px solid #45f88185;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 10px 60px rgba(69, 248, 130, 0.2);
    transition: var(--transition);
}
.socials .social_icon:hover {
    box-shadow: 0px 5px 20px rgba(255, 255, 255, 0.2);
    cursor: pointer;
    background-color: var(--primary-color);
    color: var(--black-color);
}

/* MQ SECTION */
@media (max-width: 1400px) {
}
@media (max-width: 1200px) {
    .contact_head_text h1,
    .contact_head {
        font-size: 5rem;
    }
}
@media (max-width: 900px) {
    .contact_head h1 {
        font-size: 5rem;
    }
    .contact_head_text h1 {
        font-size: 3rem;
    }
    .Contact_inputs_head,
    .contact_container {
        flex-direction: column;
        gap: 10px;
    }
    .Contact_form,
    .Contact_content {
        width: 100%;
    }
}
@media (max-width: 500px) {
    .contact_head_text {
        margin: 0;
    }
    .contact_head_text h1 {
        font-size: 2.5rem;
    }
    .contact_head_text .line {
        width: 100px;
    }
    .Contact_btn {
        width: 200px;
    }
}
